.echartsRadar{
	display: flex;
	// align-items: center;
	justify-content: center;
	height: 400px;
}
.echartsPie{
	display: flex;
	justify-content: center;
	height: 280px;
}

.chatImg {
	width: 26px;
	height: 26px;
	float: right;
}

.wirteImg {
	width: 26px;
}